In [2]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

## <img style="float: left; padding: 0px 10px 0px 0px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg/1920px-Escudo_de_la_Pontificia_Universidad_Cat%C3%B3lica_de_Chile.svg.png"  width="80" /> IMT 2200 - Introducción a Ciencia de Datos
**Pontificia Universidad Católica de Chile**<br>
**Semestre 2022-1**<br>
**Profesora:** Paula Aguirre <br>

## Clase 12: Combinación y Agrupación de Datos.

---

### 1. Ejemplos de Slides:

In [9]:
df1 = pd.DataFrame(
    {
        "colAA": ["A0", "A1", "A2", "A3"],
        "colB": ["B0", "B1", "B2", "B3"],
        "colC": ["C0", "C1", "C2", "C3"],
        "colD": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)


df2 = pd.DataFrame(
    {
        "colA": ["A4", "A5", "A6", "A7"],
        "colB": ["B4", "B5", "B6", "B7"],
        "colC": ["C4", "C5", "C6", "C7"],
        "colD": ["D4", "D5", "D6", "D7"],
    },
    index=[3,4,5,6],
)


df3 = pd.DataFrame(
    {
        "colA": ["A8", "A9", "A10", "A11"],
        "colB": ["B8", "B9", "B10", "B11"],
        "colC": ["C8", "C9", "C10", "C11"],
        "colD": ["D8", "D9", "D10", "D11"],
    },
    index=[0,1,2,3],
)


frames = [df1, df2, df3]

In [10]:
df1

  colAA colB colC colD
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3

In [11]:
df3

  colA colB colC colD
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [12]:
df=pd.concat(frames,axis=0)
df

  colAA colB colC colD colA
0    A0   B0   C0   D0  NaN
1    A1   B1   C1   D1  NaN
2    A2   B2   C2   D2  NaN
3    A3   B3   C3   D3  NaN
3   NaN   B4   C4   D4   A4
4   NaN   B5   C5   D5   A5
5   NaN   B6   C6   D6   A6
6   NaN   B7   C7   D7   A7
0   NaN   B8   C8   D8   A8
1   NaN   B9   C9   D9   A9
2   NaN  B10  C10  D10  A10
3   NaN  B11  C11  D11  A11

<div class="alert alert-success">Ejercicio: Pruebe el método concat usando distintos valores para los argumentos `axis`y `how`.</div>

<div class="alert alert-success">Ejercicio: Cambie el nombre de una o algunas columnas en los dataframes, repita los ejericios anteriores y compare los resultados.</div>

### 2. Análisis de datos de ventas en locales de una cadena de retail.

Suponga que ud. tiene datasets correspondientes a los clientes de una tienda de retail, y todas las compras que ellos han realizado en distintos locales: `compras.csv`y `clientes.csv`.<br>

Además, cuenta con dos capas de datos vectoriales con la ubicación de los locales, y la zonificación de la ciudad.

Combine los datasets de manera adecuada para generar DataFrames que le permitan analizar las siguientes preguntas.

#### ¿Cuánto es el monto total comprado por cada cliente registrado?

#### ¿Cuál es la distribución de monto de ventas por edad?

#### ¿Hay una relación entre el tipo de zona donde se ubica un local, y las ventas del local?